<md-content layout-padding>

	<md-card>
	
		<md-card-content>
	
			<md-input-container class="md-block" flex-gt-sm>
				<label>New database name</label>
				<input ng-model="createdbdata.dbname" required>
			</md-input-container>
		
		  <md-checkbox ng-model="setasdefaultdb">
		    Set as default
		  </md-checkbox>
		
			<div layout="row">
				<md-button class="md-raised md-primary" ng-click="setupdb()">Create DB</md-button>
			</div>
			
			<md-input-container class="md-block" flex-gt-sm>
				<label>Database</label>
				<input ng-model="dbname" required>
			</md-input-container>
			<p>Available databases will be listed her in the future, now just manually enter the db name</p>
		
			<div layout="row">
				<md-button class="md-raised md-primary" ng-click="setdb()">Go</md-button>
			</div>
	
		</md-card-content>
		
	</md-card>

</md-content>