<div flex layout="row" layout-align="center center" layout-margin>	
  <div flex-sm="100" flex-gt-sm="60" flex-gt-md="40" flex-gt-lg="20" class="md-whiteframe-z2">
    <md-toolbar">
    	<span flex></span>
      <h1 class="md-toolbar-tools">
        <span class="md-flex">Login</span>
      </h1>
    </md-toolbar>

    
		<div layout="column" class="md-inline-form">
			 <md-content layout-padding> 

					<form name="loginForm">
	
						<md-input-container class="md-block" flex-gt-sm>
							<label>Email</label>
							<input name="email" required type="text" ng-model="credentials.username">
							<div ng-messages="loginForm.password.$error">
			          <div ng-message="server"></div>
			        </div>
						</md-input-container>
	
						<md-input-container class="md-block" flex-gt-sm>
							<label>Password</label>
							<input name="password" required type="password" ng-model="credentials.password">
							<div ng-messages="loginForm.password.$error">
			          <div ng-message="server">{{error.data.reason}}</div>
			        </div>
						</md-input-container>
	
						<div layout="row">
							<md-button class="md-raised" ng-click="login()">Login</md-button>
							<md-button ng-click="$state.go('register')">Register</md-button>
						</div>

						
					</form>


			</md-content>
		</div>


	
	</div>

</div>