<md-content layout-padding layout="column">
    <form name="assetForm">
    
			<div layout="column">
			
				<div layout="row">   
		      <md-input-container>
		      		<label>ID</label>
		          <input ng-model="vm.asset._id" disabled>
		      </md-input-container>     
	      </div>
	      <div layout="row"> 
		      <md-input-container>
		          <label>Name</label>
		          <input ng-model="vm.asset.name">
		      </md-input-container>
	      </div>
	      <div layout="row">
		      <md-input-container>
		          <label>Location</label>
		          <input ng-model="vm.asset.location">
		      </md-input-container>  
	      </div>
	    	<div layout="row">
		      <md-input-container>
		        <label>Asset type</label>
		        <md-select ng-model="vm.asset.assetType">
		          <md-option ng-repeat="type in vm.assetTypes" value="{{type.title}}">{{type.title}}</md-option>
		        </md-select>
		      </md-input-container>			
	      </div>
	      
				<br />			
				
				<div layout="row">
					<md-button class="md-raised" ng-click="vm.asset.save()">Save</md-button>
					<md-button ng-show="$state.includes('edit')" ng-click="vm.asset.remove()">Delete</md-button>
				</div>
			
			</div>
    </form>
</md-content>


