<md-content layout-padding>

	<md-card>
	
		<md-card-content>


			<md-table-container>
			  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
			    <thead md-head md-order="query.order" md-on-reorder="getAssets()">
			      <tr md-row>
			        <th md-column><span>ID</span></th>
			        <th md-column><span>Calories</span></th>
			        <th md-column><span>Category</span></th>
			      </tr>
			    </thead>
			    <tbody md-body>
			      <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="asset in db.rows">
			        <td md-cell>{{asset._id}}</td>
			        <td md-cell>{{asset.name}}</td>
			        <td md-cell>{{asset.category}}</td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>


		</md-card-content>
		
	</md-card>

</md-content>