<md-content layout-padding>

	<md-card>


	
		<md-card-content layout-padding>

			<md-input-container class="md-block" flex-gt-sm>
				<label>ID</label>
				<input ng-model="asset._id" disabled>
			</md-input-container>
		
			<md-input-container class="md-block" flex-gt-sm>
				<label>Name</label>
				<input ng-model="asset.name" disabled>
			</md-input-container>
		
			<md-input-container class="md-block" flex-gt-sm>
				<label>Categories</label>
				<input ng-model="asset.categories" disabled>
			</md-input-container>
		
			<div layout="row">
				<md-button class="md-raised md-primary">Save</md-button>
			</div>
	
		</md-card-content>
		
	</md-card>

</md-content>