<div flex layout="row" layout-align="center center" layout-margin>	
  <div flex-sm="100" flex-gt-sm="60" flex-gt-md="40" flex-gt-lg="20" class="md-whiteframe-z2">
    <md-toolbar class="md-hue-2">
    	<span flex></span>
      <h1 class="md-toolbar-tools">
        <span class="md-flex">Register</span>
      </h1>
    </md-toolbar>

    
		<div layout="column" class="md-inline-form">
			 <md-content layout-padding> 

					<form name="registerForm">
	
						<md-input-container class="md-block" flex-gt-sm>
							<label>Email</label>
							<input type="text" ng-model="credentials.username" required>
						</md-input-container>
	
						<md-input-container class="md-block" flex-gt-sm>
							<label>Password</label>
							<input type="password" ng-model="credentials.password" required>
						</md-input-container>
	
						<div layout="row">
							<md-button class="md-raised md-primary" ng-click="register()">Register</md-button>
							<md-button class="md-primary" ng-click="$state.go('login')">Login</md-button>
						</div>

						<md-input-container class="md-block" flex-gt-sm>
							<label>New database name</label>
							<input ng-model="dbname" required>
						</md-input-container>

						<div layout="row">
							<md-button class="md-raised md-primary" ng-click="createdb()">Create DB</md-button>
						</div>
						
					</form>

			</md-content>
		</div>


	
	</div>

</div>