<md-content layout-padding layout="column">
    <form name="datapointForm">
    
			<div layout="column">
			
				<div layout="row">   
		      <md-input-container>
		      		<label>ID</label>
		          <input ng-model="vm.datapoint._id" disabled>
		      </md-input-container>     
	      </div>
	      <div layout="row"> 
		      <md-input-container>
		          <label>Name</label>
		          <input ng-model="vm.datapoint.name">
		      </md-input-container>
	      </div>
	    	<div layout="row">
		      <md-input-container>
		        <label>Property</label>
		        <md-select ng-model="vm.datapoint.property">
		          <md-option ng-repeat="property in vm.properties" value="{{property.title}}">{{property.title}}</md-option>
		        </md-select>
		      </md-input-container>		
		      <md-input-container>
		        <label>Unit</label>
		        <md-select ng-model="vm.datapoint.unit">
		          <md-option ng-repeat="unit in vm.units" value="{{unit.title}}">{{unit.title}}</md-option>
		        </md-select>
		      </md-input-container>			
	      </div>
	      
				<br />			
				
				<div layout="row">
					<md-button class="md-raised" ng-click="vm.datapoint.save()">Save</md-button>
					<md-button ng-show="$state.includes('datapoint-edit')" ng-click="vm.datapoint.remove()">Delete</md-button>
				</div>
			
			</div>
    </form>
</md-content>
