<md-content flex layout="row">





	<md-table-container flex>
	
	  <table md-table md-row-select multiple ng-model="vm.selected" md-progress="promise">
	    <thead md-head>
	      <tr md-row>
	        <th md-column><span>ID</span></th>
	        <th md-column><span>Name</span></th>
	        <th md-column><span>Actions</span></th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr md-row md-select="datapoint" md-select-id="name" ng-repeat="datapoint in couch.db.rows">
	        <td md-cell>{{datapoint.doc._id}}</td>
	        <td md-cell>{{datapoint.doc.name}}</td>
	        <td md-cell>
	        	<md-button class="md-icon-button" ng-click="$state.go('datapoint-edit',{datapointId:datapoint.doc._id})">
		          <md-icon>mode_edit</md-icon>
		        </md-button>
    			</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>

	
</md-content>

<md-button class="md-fab md-fab-bottom-right" aria-label="Create datapoint" ng-click="$state.go('datapoint-create')">
  <md-icon>add</md-icon>
</md-button>