<div class="login jumbotron center-block">
  <form role="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username"  ng-model="main.user.username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="main.user.password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default" ng-click="main.submitLogin()">Submit</button>
</form>
<!-- <a ui-sref="register()">Click here to Register</a> -->
</div>
<!--
<div class="alert alert-info" ng-show='showInfo'>
    <button class='btn' ng-click='server.logout()'>Logout</button>
    <br><br>
    <pre>server.userCtx = {{ server.userCtx | json }}</pre>
    <pre>server.info = {{ server.info | json }}</pre>
    <pre>konnektrdata.info = {{ konnektrdata.info | json }}</pre>
    <pre>testdoc = {{ testdoc | json }}</pre>
</div>
-->