<md-content layout-padding>

	<div layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33">

		<form name="createDatabaseForm">
	
			<md-input-container class="md-block" flex-gt-sm>
				<label>New database name</label>
				<input name="dbname" ng-model="createdbdata.dbname" required>
				<div ng-messages="createDatabaseForm.dbname.$error">
          <div ng-message="server">{{error.data.reason}}</div>
        </div>
			</md-input-container>
		
		  <md-checkbox ng-model="setasdefaultdb">
		    Set as default
		  </md-checkbox>
		
			<div layout="row">
				<md-button class="md-raised" ng-click="setupdb()">Setup DB</md-button>
			</div>
			
		</form>
		
	</div>

</md-content>